{% extends 'main/base.html' %}
{% load static %}


{% block extend_head %}

{% endblock %}

{% block extend_nav %} 

<ul class="sidenav">
  <li><a href="{% url 'main:videos' %}">Demo Videos</a></li>
  <li><a class="active" href="javascript:void(0)">Demo Play Video</a></li>
</ul>

{% endblock %}


{% block content %}

<h3 id="map">Django YouTube API Demo - Play Video</h3>

<div class="container">

  <table>
    <thead>
      <tr>
        <th>Field</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Id</td>
        <td>{{vid_data.id}}</td>      
      </tr>
      <tr>
        <td>Title</td>
        <td>{{vid_data.title}}</td>      
      </tr>
      <tr>
        <td>Description</td>
        <td>{{vid_data.description}}</td>      
      </tr>
    </tbody>
  </table>
  <br>
  {{vid_data.iframe|safe}}


</div>


{% endblock %}

{% block extend_footer %}




{% endblock %}